body {
  color: #191919;
  font-family: 'Raleway', sans-serif;
  background-color: #FFF;
}

h1 {
  font-size: 25px;
  position: relative;
  margin-left: 15px;
}

.content {
  width: 50%;
  height: 100%;
  margin: auto;
}

#instructions {
  position: relative;
  top: 20px;
}

form {
  text-align: center;
  position: relative;
  top: 40px;
}


input {
  margin-top: 10px;
  margin-right: 40px;
  border: none;
  border-bottom: 1px solid #191919;
  padding: 8px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

label {
  position: absolute;
  top: -10px;
  text-align: center;
  font-size: 12px;
}

input[type="submit"] {
  border: none;
  background: #FFF;
  color: #191919;
  padding: 10px 40px;
  border-radius: 2px;
  margin-top: 40px;
  box-shadow: 2px 2px 10px #191919;
}

#shadow:hover {
  background: #191919;
  color: #FEFEFE;
}

h2 {
  text-align: center;
  margin-top: 80px;
  font-size: 100px;
  margin-left: -20px;
  color: #191919;
}
