body {
  color: #191919;
  font-family: 'Raleway', sans-serif;
  background-color: #FFF;
}

header {
  padding-bottom: 50px;
}

#title {
  float: left;
}

#github img {
  float: right;
}

h1 {
  font-weight: 400;
  font-size: 25px;
  position: relative;
  margin-top: 8px;
  margin-left: 15px;
}

.content {
  clear: both;
  width: 50%;
  height: 100%;
  margin: auto;

}

#instructions {
  position: relative;
  top: 20px;
}

form {
  text-align: center;
  position: relative;
  top: 40px;
}

input {
  margin-top: 10px;
  margin-right: 40px;
  border: none;
  border-bottom: 1px solid #191919;
  padding: 8px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

label {
  position: absolute;
  top: -10px;
  margin-left: 60px;
  text-align: center;
  font-size: 12px;
}

input[type="submit"] {
  border: none;
  background-color: #191919;
  color: #FFF;
  padding: 10px 40px;
  margin-top: 30px;
}

#shadow:hover {
  background-color: #ff6a6a;
  color: #FEFEFE;
}

h2 {
  text-align: center;
  margin-top: 70px;
  font-size: 100px;
  margin-left: -20px;
  color: #191919;
}

img {
  margin: 8px 15px 0 0;
}
